

.button {
margin-left: -5px;
}

.row {
  width:  520px;
  justify-content: space-around;
  padding: 5px;
  text-align: center;
  color: blue;


}
.container {
  width: 220px;
  height: 350px;

}



#solutionBox {
/*float: right;*/
overflow: auto;
display: inline-block;
vertical-align: top;
width:75px;
height:20px;
border: 1px solid black;
}
